.main {
	--button-size: clamp(30px, fit-content);
	width: var(--button-size);
	height: var(--button-size);
	border-radius: 0.4rem;
	color: azure;
	background-color: rgb(22, 22, 22);
	border: 0;
	padding: 5px 10px;
	&&:hover {
		background-color: rgb(77, 77, 77);
	}
}
