.button {
	padding: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid rgba(211, 135, 255, 0.842);
	border-left: none;
	background-color: rgb(250, 218, 221);
}
