.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
	width: 450px;
	min-height: 100px;
	border-radius: 15px;
	background-color: rgb(200, 229, 255);
	align-items: center;
	align-content: center;
	padding: 15px;
}
.title {
	display: flex;
	gap: 5px;

	&& > p {
		display: block;
		word-break: break-all;
		padding: 10px;
		border-radius: 15px;
		transition: background-color 0.3s ease;
		&&[contenteditable="true"] {
			outline: none;
			background-color: rgba(255, 243, 133, 0.87);
		}
	}
}
.texte {
	max-width: 230px;
}
.section {
	display: flex;
	flex-direction: column;
}
.todo {
	display: flex;
	flex-direction: column;
	font-size: larger;
	gap: 5px;
}
.button {
	display: block;
	border-radius: 15px;
	/* height: 30px; */
	padding: 15px;
	background-color: rgba(211, 135, 255, 0.842);
}

.buttonsField {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
